/* public/style.css */


html {
	text-align: center;
}

body {
	/* background-image: url(https://static.wikia.nocookie.net/leagueoflegends/images/5/50/Wiki-background/revision/latest/scale-to-width-down/1920); */
	/* background-image: url(./background.jpg); */
    background-color: rgb(6, 28, 37);
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	z-index: -2;
	/* Hide scrollbar for IE, Edge and Firefox */
	/* -ms-overflow-style: none; */
	/* IE and Edge */
	/* scrollbar-width: none; */
	/* Firefox */
}

#content {
	width: 68%;
	display: inline-block;
	font-family: Montserrat, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	/* background-color: rgb(6, 28, 37); */
	color: #ffe2adad;
	align-content: center;
}

#informations {
	border-style: none outset outset none;
	border-width: .2em;
	border-collapse: separate;
	border-spacing: 10px;
	border-color: rgb(136, 102, 44);
	border-radius: 0 0 .4em 0;
	background-color: rgb(6, 28, 37);
	top: 0px;
	left: 0px;
	position: fixed;
	padding: 0.5em;
	color: #ffe2adad;
	text-align: left;
}

#informations a {
	color: rgb(16, 202, 203);
	text-decoration: none;
	cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
	display: none;
}

.category.title {
	border-style: outset;
	border-width: .2em;
	border-collapse: separate;
	border-spacing: 10px;
	border-color: rgb(136, 102, 44);
	border-radius: .4em;
	background-color: rgb(6, 28, 37);
	cursor: pointer;
}

.category.title::after {
	content: '\21D3';
	float: right;
	font-weight: normal;
	margin-right: 5px;
}

.category.title.hidden::after {
	content: '\21D1';
	float: right;
	font-weight: normal;
	margin-right: 5px;
}

.category.title.hover {
	background-color: rgb(6, 48, 48);
}

table {
	width: 100%;
	display: table;
	box-sizing: border-box;
	text-indent: initial;
	color: #ffe2adad;
	background: #010A13;
	overflow: hidden;
	border-style: double;
	border-width: .4em;
	border-collapse: separate;
	border-spacing: 10px;
	border-color: rgb(136, 102, 44);
	border-radius: .4em;
	text-align: start;
}

table th {
	color: rgb(16, 202, 203);
}

.item_stats .item_gold_efficiency,
.item_stats .item_gold_equivalent {
	text-align: right;
	padding-right: 5%;
}

.item_gold_efficiency,
.item_gold_equivalent {
	text-align: center;
}

.item_stats .item_gold_equivalent img {
	margin-left: 0.3em;
}

.item_supported_maps {
	text-align: center;
}

.hidden_tooltip {
	display: none;
}

.sortable {
	cursor: pointer;
}

.tooltip {
	/* font-size: larger; */
	text-align: left;
	background: #010A13;
	margin: 8px;
	padding: 8px;
	width: 25%;
	border: 1px solid rgb(136, 102, 44);
	color: rgb(228, 219, 200);
	position: absolute;
	z-index: 2;
}

.tooltip li {
	margin-top: 1em;
	list-style: none;
}

.tooltip li::before {
	content: '\2234';
	margin-right: 0.5em;
}

.tooltip rarityMythic,
.tooltip passive,
.tooltip active {
	font-weight: bold;
	color: rgb(170, 146, 97);
}

.tooltip flavorText,
.tooltip rules {
	font-size: smaller;
	font-style: italic;
	color: rgb(7, 147, 138);
}

.tooltip stats {
	color: rgb(7, 147, 138);
}

.tooltip .item_tooltip_header {
	width: 100%;
	height: 64px;
	margin-bottom: 0.5em;
}

.tooltip .item_tooltip_header .item_name {
	font-size: larger;
}

.tooltip .item_tooltip_header img {
	float: left;
	margin-right: 0.5em;
}

.tooltip maintext {
	clear: both;
}

.tooltip attention {
	min-width: 2em;
}

@media only screen and (max-device-width: 1000px) {
	#content {
		margin-top: 2em;
		width: 90%;
	}

	#informations {
		border-style: none none outset none;
		width: 100%;
	}

}

@media only screen and (max-device-width: 900px) {
	body {
		font-size: 200%;
	}

	#informations {
		border-style: none none outset none;
		width: 100%;
	}

	table {
		font-size: 100%;
	}

	.item_img a img {
		width: 64;
		height: 64;
	}

	.item_gold_equivalent img {
		width: 40;
		height: 30;
	}
}
